<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>if-unless</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">

    <div align="center">

        <h1>ThymeLeaf if-unless</h1>
        <hr>
        <br>

    </div>

    <table border="1" class="table table-striped table-hover">

        <thead>

        <tr>
            <th>UserID</th>
            <th>UserName</th>
            <th>UserEmail</th>
            <th>UserGender</th>
            <th>Actions</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="user, userStatus : ${users}">

            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userGender}"></td>

            <td>
                <a th:href="@{/update}" th:if="${user.userRole} == 'ADMIN'">Update</a>
                <a th:href="@{/delete}" th:if="${user.userRole} == 'ADMIN'">Delete</a>
                <a th:href="@{/view}" th:unless="${user.userRole} == 'ADMIN'">View</a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>